body{
    margin:0;
    padding:0;
    background-color:#21252B;
    overflow-x:hidden;
    overflow-y:hidden
}
.box{
    position:fixed;
    top:0;
    transform:rotate(80deg);
    left:0
}
.wave{
    position:fixed;
    top:0;
    left:0;
    opacity:.4;
    position:absolute;
    top:3%;
    left:10%;
    background:rgb(226,150,8);
    width:2500px;
    height:2300px;
    margin-left:150px;
    margin-top:-550px;
    transform-origin:50% 48%;
    border-radius:43%;
    animation:drift 10000ms infinite linear
}
.wave.-s{
    animation:drift 9500ms infinite linear;
    position:fixed;
    background-color:#BD5C00
}
.wave.-m{
    animation:drift 8500ms infinite linear;
    opacity:.50;
    background:black;
    position:fixed
}
.box:after{
    content:'';
    display:block;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:11;
    transform:translate3d(0,0,0)
}
@keyframes drift{
    from{
        transform:rotate(0deg)
    }
    from{
        transform:rotate(360deg)
    }
}
.contain{
    animation-delay:4s;
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background:#25a7d7;
    background:-webkit-linear-gradient(#25a7d7,#2962FF);
    background:linear-gradient(#25a7d7,#25a7d7)
}
@-webkit-keyframes anim{
    0%{
        -webkit-transform:scale(0,0) rotateZ(-90deg);
        transform:scale(0,0) rotateZ(-90deg);
        opacity:0
    }
    30%{
        -webkit-transform:scale(1,1) rotateZ(0deg);
        transform:scale(1,1) rotateZ(0deg);
        opacity:1
    }
    50%{
        -webkit-transform:scale(1,1) rotateZ(0deg);
        transform:scale(1,1) rotateZ(0deg);
        opacity:1
    }
    80%{
        -webkit-transform:scale(0,0) rotateZ(90deg);
        transform:scale(0,0) rotateZ(90deg);
        opacity:0
    }
}
